<section id="features" class="features" style="text-align: center">
    <div class="container">
        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-4"><input ng-model="vm.user" type="text" name="user" placeholder="User"/></div>
            <div class="col-md-1" style="text-align: center; font-size: 30px; margin-top: 2px">/</div>
            <div class="col-md-4"><input ng-model="vm.repo" type="text" name="repo" placeholder="Repo"/></div>
            <div class="col-md-3">
                <button class="btn btn-outline btn-xl" ng-click="vm.fetchApi()" name="Fetch">Fetch</button>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h2 class="md-title">Commit per user</h2>

                <div ng-hide="!vm.hiddeGraphs">Error ! Repo not found</div>

                <canvas ng-hide="vm.hiddeGraphs" id="bar" class="chart chart-bar"
                        chart-data="vm.contribGraphData" chart-labels="vm.contribGraphLabels" chart-series="series">
                </canvas>

            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">

                <h2 class="md-title">Used languages</h2>

                <div ng-hide="!vm.hiddeGraphs">Error ! Repo not found</div>

                <canvas ng-hide="vm.hiddeGraphs" id="pie" class="chart chart-pie"
                        chart-data="vm.languagesGraphData" chart-labels="vm.languagesGraphLabels" chart-options="options">
                </canvas>

            </div>

        </div>

        <div class="row" style="margin-top: 40px">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                <h2 class="md-title">Code evolution</h2>
                <div ng-hide="!vm.hiddeGraphs">Error ! Repo not found</div>


                <canvas ng-hide="vm.hiddeGraphs" id="bar2" class="chart chart-bar" chart-data="vm.linesGraphData"
                        chart-labels="vm.lineGraphLabels" chart-series="vm.lineGraphSeries"
                        chart-click="onClick">
                </canvas>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
